<form action="{{ action }}" method="post" id="payment">

  <input type="hidden" name="amount" value="{{ amount }}" />
  <input type="hidden" name="orderid" value="{{ orderid }} " />
  <input type="hidden" name="bill_name" value="{{  bill_name }}" />
  <input type="hidden" name="bill_email" value="{{ bill_email }}" />
  <input type="hidden" name="bill_mobile" value="{{ bill_mobile }}" />
  <input type="hidden" name="country" value="{{ country }}" />
  <input type="hidden" name="currency" value="{{ currency }}" />
  <input type="hidden" name="vcode" value="{{ vcode }}">
  <input type="hidden" name="returnurl" value="{{ returnurl }}" />

  <input type="hidden" name="bill_desc" value="{{ prod_desc2 }}" />
</form>

<script src="{{ js }}"></script>

<div class="text-center">
    <h3><u>Pay via</u>:</h3>
    <img
    src="admin/view/image/payment/logo_E2Pay.png" width="150px" height="auto">
        <br/>
        <div class="text-center">
                <div class="row">
                {% for key,val in channel_list %}
                        {% if val == 1 %}
                        <div class="col-md-2">
                                <button class="btn btn-default" type="button" id="myPay" data-toggle="molpayseamless" data-mpsmerchantid="{{ mid }}" data-mpsbill_desc="{{ prod_desc2 }}" data-mpsbill_mobile="{{ bill_mobile }}" data-mpsbill_email="{{ bill_email }}" data-mpscountry="{{ country }}" data-mpscurrency="{{ currency }}" data-mpschannel="{{ key }}" data-mpsamount="{{ amount }}" data-mpsorderid="{{ orderid }}" data-mpsbill_name="{{ bill_name }}" data-mpsvcode="{{ vcode }}" data-mpsreturnurl="{{ returnurl }}" data-mpscancelurl="{{ cancelurl }}" data-mpstimer="1" data-mpstimerbox="YES" style="background-color: transparent; background-image: none;"><img src="admin/view/image/payment/rms-{{ key }}.gif" width="150px" height="50px" alt="{{ key }}"/></button>
                        </div>
                        {% endif %}
                {% endfor %}
                </div>

                <div class="row mt-4"> <!-- Add margin-top to the second row -->
                        <!-- Content of the second row -->
                </div>
        </div>
</div>
